{{#section 'title'}}
	Categoriess
{{/section}}
<a style="margin-bottom:1em;" class="btn btn-secondary" href="/admin/category/add" role="button">
	<span class="fa fa-plus"></span>
	Thêm danh mục mới
</a>
<div class="table-responsive">
	<table  class="table table-hover display my-datatablemy-datatable">
	<thead>
		<tr>
			<th>#</th>
			<th>Tên danh mục</th>
			<th>Tên meta</th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		{{#each Listcategories}}
		{{#if Status}}
		<tr>
			<td>{{ID}}</td>
			<td>{{Name}}</td>
			<td>{{Subname}}</td>
			<td class="text-right">
				<a href="/admin/category/delete?id={{ID}}" role="button">
					<i class="fa fa-trash"></i>
				</a>
				<a href="/admin/category/edit?id={{ID}}" role="button">
					<span class="fa fa-edit"></span>
				</a>
			</td>
		</tr>
		{{/if}}
		{{/each}}
	</tbody>
</table>
</div>










