<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
    <meta name="google-site-verification" content="6V8-lG3qAUh9innt10E1dVesW8ubCniB-P114ERrdVQ" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Duyen May Shop </title>
    
    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="/asset/css/normalize.css">
    <link rel="stylesheet" href="/asset/css/bootstrap.min.css">
    <link rel="stylesheet" href="/froala_editor_2.8.4/css/froala_editor.pkgd.min.css">
    <link rel="stylesheet" href="/froala_editor_2.8.4/css/froala_style.css">

    <link rel="stylesheet" href="/asset/css/font-awesome.min.css">
    <link rel="stylesheet" href="/asset/css/themify-icons.css">
    <link rel="stylesheet" href="/asset/css/flag-icon.min.css">
    <link rel="stylesheet" type="text/css" href="/asset/DataTable/datatables.min.css" />
    <link rel="stylesheet" type="text/css" href="/asset/DataTable/DataTables-1.10.16/css/jquery.dataTables.css" />
    <link rel="stylesheet" type="text/css" href="/asset/DataTable/Buttons-1.5.1/css/buttons.dataTables.css" />
    <link rel="stylesheet" href="/asset/css/cs-skin-elastic.css">

    <!-- <link rel="stylesheet" href="asset/css/bootstrap-select.less"> -->
    <link rel="stylesheet" href="/asset/scss/style.css">
    <link href="/asset/css/lib/vector-map/jqvmap.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->
    <script src="/Script/jquery-3.3.1.min.js"></script>
    <script src="/Script/bootstrap.js"></script>
</head>

<body>

    <!-- Left Panel -->
    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="./">
                   Duyên Mây
                </a>
                <a class="navbar-brand hidden" href="./">
                    D
                </a>
            </div>
            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="index.html">
                            <i class="menu-icon fa fa-dashboard"></i>Dashboard </a>
                    </li>
                    <li class="active">
                        <a href="/admin/producer">
                            <i class="menu-icon fa fa-dashboard"></i>Quản lý nhà sản xuất </a>
                    </li>
                     <li class="active">
                        <a href="/admin/category">
                            <i class="menu-icon fa fa-dashboard"></i>Quản lý danh mục</a>
                    </li>
                    <li class="active">
                        <a href="/admin/product">
                            <i class="menu-icon fa fa-dashboard"></i>Quản lý Sản phẩm</a>
                    </li>
                    <h3 class="menu-title">UI elements</h3>
                    {{!-- <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="menu-icon fa fa-table"></i>Quản lý</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li>
                                <i class="fa fa-table"></i>
                                <a href="tables-basic.html">Đơn hàng</a>
                            </li>
                            <li>
                                <i class="fa fa-table"></i>
                                <a href="tables-data.html">Sản phẩm</a>
                            </li>
                        </ul>
                    </li>

                    <h3 class="menu-title">UI elements</h3>
                    <!-- /.menu-title -->
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="menu-icon fa fa-laptop"></i>Components</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li>
                                <i class="fa fa-puzzle-piece"></i>
                                <a href="ui-buttons.html">Buttons</a>
                            </li>
                            <li>
                                <i class="fa fa-id-badge"></i>
                                <a href="ui-badges.html">Badges</a>
                            </li>
                            <li>
                                <i class="fa fa-bars"></i>
                                <a href="ui-tabs.html">Tabs</a>
                            </li>
                            <li>
                                <i class="fa fa-share-square-o"></i>
                                <a href="ui-social-buttons.html">Social Buttons</a>
                            </li>
                            <li>
                                <i class="fa fa-id-card-o"></i>
                                <a href="ui-cards.html">Cards</a>
                            </li>
                            <li>
                                <i class="fa fa-exclamation-triangle"></i>
                                <a href="ui-alerts.html">Alerts</a>
                            </li>
                            <li>
                                <i class="fa fa-spinner"></i>
                                <a href="ui-progressbar.html">Progress Bars</a>
                            </li>
                            <li>
                                <i class="fa fa-fire"></i>
                                <a href="ui-modals.html">Modals</a>
                            </li>
                            <li>
                                <i class="fa fa-book"></i>
                                <a href="ui-switches.html">Switches</a>
                            </li>
                            <li>
                                <i class="fa fa-th"></i>
                                <a href="ui-grids.html">Grids</a>
                            </li>
                            <li>
                                <i class="fa fa-file-word-o"></i>
                                <a href="ui-typgraphy.html">Typography</a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="menu-icon fa fa-table"></i>Tables</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li>
                                <i class="fa fa-table"></i>
                                <a href="tables-basic.html">Basic Table</a>
                            </li>
                            <li>
                                <i class="fa fa-table"></i>
                                <a href="tables-data.html">Data Table</a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="menu-icon fa fa-th"></i>Forms</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li>
                                <i class="menu-icon fa fa-th"></i>
                                <a href="forms-basic.html">Basic Form</a>
                            </li>
                            <li>
                                <i class="menu-icon fa fa-th"></i>
                                <a href="forms-advanced.html">Advanced Form</a>
                            </li>
                        </ul>
                    </li>
                    <h3 class="menu-title">Icons</h3>
                    <!-- /.menu-title -->
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="menu-icon fa fa-tasks"></i>Icons</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li>
                                <i class="menu-icon fa fa-fort-awesome"></i>
                                <a href="font-fontawesome.html">Font Awesome</a>
                            </li>
                            <li>
                                <i class="menu-icon ti-themify-logo"></i>
                                <a href="font-themify.html">Themefy Icons</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="widgets.html">
                            <i class="menu-icon ti-email"></i>Widgets </a>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="menu-icon fa fa-bar-chart"></i>Charts</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li>
                                <i class="menu-icon fa fa-line-chart"></i>
                                <a href="charts-chartjs.html">Chart JS</a>
                            </li>
                            <li>
                                <i class="menu-icon fa fa-area-chart"></i>
                                <a href="charts-flot.html">Flot Chart</a>
                            </li>
                            <li>
                                <i class="menu-icon fa fa-pie-chart"></i>
                                <a href="charts-peity.html">Peity Chart</a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="menu-icon fa fa-area-chart"></i>Maps</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li>
                                <i class="menu-icon fa fa-map-o"></i>
                                <a href="maps-gmap.html">Google Maps</a>
                            </li>
                            <li>
                                <i class="menu-icon fa fa-street-view"></i>
                                <a href="maps-vector.html">Vector Maps</a>
                            </li>
                        </ul>
                    </li>
                    <h3 class="menu-title">Extras</h3>
                    <!-- /.menu-title -->
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="menu-icon fa fa-glass"></i>Pages</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li>
                                <i class="menu-icon fa fa-sign-in"></i>
                                <a href="page-login.html">Login</a>
                            </li>
                            <li>
                                <i class="menu-icon fa fa-sign-in"></i>
                                <a href="page-register.html">Register</a>
                            </li>
                            <li>
                                <i class="menu-icon fa fa-paper-plane"></i>
                                <a href="pages-forget.html">Forget Pass</a>
                            </li>
                        </ul>
                    </li> --}}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
    </aside>
    <!-- /#left-panel -->
    <!-- Left Panel -->
    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
        <!-- Header-->
        <header id="header" class="header">
            <div class="header-menu">
                <div class="col-sm-7">
                    <a id="menuToggle" class="menutoggle pull-left">
                        <i class="fa fa fa-tasks"></i>
                    </a>
                    <div class="header-left">
                        <h6>Chào {{layoutVM.currentUser.FullName}} (Role: {{layoutVM.currentUser.Role}})</h6>
                        {{!-- <button class="search-trigger">
                            <i class="fa fa-search"></i>
                        </button>
                        <div class="form-inline">
                            <form class="search-form">
                                <input class="form-control mr-sm-2" type="text" placeholder="Search ..." aria-label="Search">
                                <button class="search-close" type="submit">
                                    <i class="fa fa-close"></i>
                                </button>
                            </form>
                        </div>
                        <div class="dropdown for-notification">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="notification" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                <i class="fa fa-bell"></i>
                                <span class="count bg-danger">5</span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="notification">
                                <p class="red">You have 3 Notification</p>
                                <a class="dropdown-item media bg-flat-color-1" href="#">
                                    <i class="fa fa-check"></i>
                                    <p>Server #1 overloaded.</p>
                                </a>
                                <a class="dropdown-item media bg-flat-color-4" href="#">
                                    <i class="fa fa-info"></i>
                                    <p>Server #2 overloaded.</p>
                                </a>
                                <a class="dropdown-item media bg-flat-color-5" href="#">
                                    <i class="fa fa-warning"></i>
                                    <p>Server #3 overloaded.</p>
                                </a>
                            </div>
                        </div>
                        <div class="dropdown for-message">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="message" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                <i class="ti-email"></i>
                                <span class="count bg-primary">9</span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="message">
                                <p class="red">You have 4 Mails</p>
                                <a class="dropdown-item media bg-flat-color-1" href="#">
                                    <span class="photo media-left">
                                        <img alt="avatar" src="/asset/images/avatar/1.jpg">
                                    </span>
                                    <span class="message media-body">
                                        <span class="name float-left">Jonathan Smith</span>
                                        <span class="time float-right">Just now</span>
                                        <p>Hello, this is an example msg</p>
                                    </span>
                                </a>
                                <a class="dropdown-item media bg-flat-color-4" href="#">
                                    <span class="photo media-left">
                                        <img alt="avatar" src="/asset/images/avatar/2.jpg">
                                    </span>
                                    <span class="message media-body">
                                        <span class="name float-left">Jack Sanders</span>
                                        <span class="time float-right">5 minutes ago</span>
                                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                                    </span>
                                </a>
                                <a class="dropdown-item media bg-flat-color-5" href="#">
                                    <span class="photo media-left">
                                        <img alt="avatar" src="/asset/images/avatar/3.jpg">
                                    </span>
                                    <span class="message media-body">
                                        <span class="name float-left">Cheryl Wheeler</span>
                                        <span class="time float-right">10 minutes ago</span>
                                        <p>Hello, this is an example msg</p>
                                    </span>
                                </a>
                                <a class="dropdown-item media bg-flat-color-3" href="#">
                                    <span class="photo media-left">
                                        <img alt="avatar" src="/asset/images/avatar/4.jpg">
                                    </span>
                                    <span class="message media-body">
                                        <span class="name float-left">Rachel Santos</span>
                                        <span class="time float-right">15 minutes ago</span>
                                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                                    </span>
                                </a>
                            </div>
                        </div> --}}
                    </div>
                </div>
                
                 <form style="display:none;" class="frmLogout" method="post" action="/account/logout"></form>
                <div class="col-sm-5">
                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img style="height:30px; width:30px;" class="user-avatar rounded-circle" src="/image/avatar.jpg" alt="User Avatar">
                        </a>
                        <div class="user-menu dropdown-menu">
                            <a class="nav-link" href="/account/profile">
                                <i class="fa fa-user"></i> Thông tin</a>
                            {{!-- <a class="nav-link" href="#">
                                <i class="fa fa- user"></i>Notifications
                                <span class="count">13</span>
                            </a> --}}
                            {{!-- <a class="nav-link" href="#">
                                <i class="fa fa -cog"></i>Settings</a> --}}
                            <a class="nav-link" href="#" onclick="$('.frmLogout').submit()" >
                                <i class="fa fa-power-off"></i> Đăng xuất</a>
                        </div>
                    </div>
                    <div class="language-select dropdown" id="language-select">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown" id="language" aria-haspopup="true" aria-expanded="true">
                            <i class="flag-icon flag-icon-us"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="language">
                            <div class="dropdown-item">
                                <span class="flag-icon flag-icon-fr"></span>
                            </div>
                            <div class="dropdown-item">
                                <i class="flag-icon flag-icon-es"></i>
                            </div>
                            <div class="dropdown-item">
                                <i class="flag-icon flag-icon-us"></i>
                            </div>
                            <div class="dropdown-item">
                                <i class="flag-icon flag-icon-it"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- /header -->
        <!-- Header-->
        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>{{_sections.metaName}}</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li class="active">{{_sections.metaFunction}}</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="content mt-3">
            <div class="modal fade" id="LargeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div id="LargeModel_Content" class="modal-body">
                            Loading...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            {{{body}}}

        </div>
        <!-- .content -->
    </div>
    <!-- /#right-panel -->
    <!-- Right Panel -->

    <script type="text/javascript" src="/asset/DataTable/datatables.min.js"></script>
    <script type="text/javascript" src="/asset/DataTable/DataTables-1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/asset/DataTable/Buttons-1.5.1/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="/asset/DataTable/Buttons-1.5.1/js/buttons.flash.min.js"></script>
    <script type="text/javascript" src="/asset/DataTable/JSZip-2.5.0/jszip.min.js"></script>
    <script type="text/javascript" src="/asset/DataTable/pdfmake-0.1.32/pdfmake.min.js"></script>
    <script type="text/javascript" src="/asset/DataTable/pdfmake-0.1.32/vfs_fonts.js"></script>
    <script type="text/javascript" src="/asset/DataTable/Buttons-1.5.1/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="/asset/DataTable/Buttons-1.5.1/js/buttons.print.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="/asset/js/plugins.js"></script>
    <script src="/asset/js/main.js"></script>
    <script src="/asset/js/lib/chart-js/Chart.bundle.js"></script>
    <script src="/asset/js/dashboard.js"></script>
    <script src="/asset/js/widgets.js"></script>
    <script src="/asset/js/lib/vector-map/jquery.vmap.js"></script>
    {{{_sections.blogjs}}}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/mode/xml/xml.min.js"></script>
    <script src="/asset/js/lib/vector-map/jquery.vmap.min.js"></script>
    <script src="/asset/js/lib/vector-map/jquery.vmap.sampledata.js"></script>
    <script src="/asset/js/lib/vector-map/country/jquery.vmap.world.js"></script>
    <script src="/froala_editor_2.8.4/js/froala_editor.pkgd.min.js"></script>
    <script src="/Script/main.js"></script> 
    {{{_sections.js}}}
    <script>
        $('#adminLogout').on('click', function () {
            $('.frmLogout').submit();
        });
    </script>
</body>

</html>