{{#section 'metaName'}} Quản lý Đơn hàng {{/section}} {{#section 'metaFunction'}} Trang chủ {{/section}} 

<div class="table-responsive">
	<table  class="table table-hover display my-datatable">
	<thead>
		<tr>
			<th>ID</th>
			<th>Tên người đặt</th>
			<th>Địa chỉ</th>
            <th>SĐT</th>
            <th>Email</th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		{{#each listOrder}}
		<tr>
			<td>{{ID}}</td>
			<td>{{FullName}}</td>
			<td>{{Address}}</td>
            <td>{{Phone}}</td>
            <td>{{Email}}</td>
			<td class="text-right">
				<a href="/admin/producer/delete?id={{ID}}" role="button">
					<i class="fa fa-trash"></i>
				</a>
				<a href="/admin/producer/edit?id={{ID}}" role="button">
					<span class="fa fa-edit"></span>
				</a>
			</td>
		</tr>
		{{/each}}
	</tbody>
</table>
</div>










