    <p class="color-gray text-uppercase" style="font-size: 80%;">Kết quả tìm kiếm / {{listProduct.length}} sản phẩm</p>

    {{#if ExsitProduct}}
    <div class="row">
        {{#each listProduct}}
        <div class="col-lg-3">
            <img style="width:85%" src="{{Image}}"/>
            <h6 style="color:gray">{{productName}}</h6>
            <p>Danh mục: {{categoryName}}</p>
            <p>Giá: <span class="color-purple">{{Price}}đ</span></p><br>
                <a href="home/product?id={{ID}}" class="btn btn-sm btn-secondary">Chi tiết</a> <a href="#" class="btn btn-sm btn-secondary">Thêm vào giỏ</a>
        </div>
        {{/each}}
    </div>
    {{else}}
    <h5>Không tìm thấy sản phẩm nào</h5>
    {{/if}}
    