<a style="margin-bottom:1em;" class="btn btn-secondary" href="/admin/product/add" role="button">
	<span class="fa fa-plus"></span>
	Thêm sản phẩm mới
</a>
<div class="table-responsive">
<table class="table display my-datatable">
    <thead>
        <tr>
            <th>ID</th>
            <th>Tên</th>
            <th>Giá</th>
            <th>Danh mục</th>
            <th>Tình trạng</th>
            <th>Ngày tạo</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        {{#each ListProduct}}
		{{#if Status}}
            <tr>
                <td>{{ID}}</td>
                <td>{{Name}}</td>
                <td>{{Price}}</td>
                <td>{{CategoryID}}</td>
                <td>{{InStock}}</td>
                <td>{{CreateDate}}</td>
                <td></td>
            </tr>
        {{/if}}
        {{/each}}
    </tbody>
</table>
</div>