{{#section 'metaName'}} Quản lý danh mục bài viết {{/section}} {{#section 'metaFunction'}} Trang chủ {{/section}}
<a style="margin-bottom:1em;" class="btn btn-secondary" href="/admin/blog_category/add" role="button">
	<span class="fa fa-plus"></span>
	Thêm danh mục bài viết mới
</a>
<div class="table-responsive">
	<table  class="table table-hover display my-datatable">
	<thead>
		<tr>
			<th>#</th>
			<th>Tên danh mục</th>
			<th>Mô tả danh mục</th>
			<th>Note</th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		{{#each List_BlogCategory}}
		{{#if Status}}
		<tr>
			<td>{{ID}}</td>
			<td>{{Name}}</td>
			<td>{{Description}}</td>
			<td>{{Note}}</td>
			<td class="text-right">
				<a href="/admin/Blog_Category/delete?id={{ID}}" role="button">
					<i class="fa fa-trash"></i>
				</a>
				<a href="/admin/Blog_Category/edit?id={{ID}}" role="button">
					<span class="fa fa-edit"></span>
				</a>
			</td>
		</tr>
		{{/if}}
		{{/each}}
	</tbody>
</table>
</div>

